.bottom{
    text-align: center;
}

.tituloApp{
    color: #ffffff;font-size: 36px;padding: 2px;
}

.colorSession{
    color: #ffffff;
}

.colorMegaMenu{
    background-color: #9B9340;
}

.colorColumnaPrincipal{
    background-color: #CDC78B;
}

.colorColumnaSecundaria{
    background-color: #9B9340;
}

.tamanioInputText{
    max-width: 400px;
}

.tamanioSelect{
    max-width: 250px;
}

.center_content{
    width: 100%;
}

