body {
    background-color: #EEEEEE;
    color: #000000;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 10px;
    width: 100%;
    /* overflow-x: hidden; */
}

h1 {
    /* order-bottom: 1px solid #AFAFAF; */
    color: #ffffff;
    /*
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    */
    margin: 9px 0px 9px 0px;
}

/* El tamaño por defecto de 200px ya estaría establecido previamente */
@media all and (max-width: 1000px){
    img{
        width:180px;
    }
    
    video{
        width:180px;
    }
}
@media all and (max-width: 400px){
    img{
        width:100%;
    }
    
    video{
        width:100%;
    }
}

.video{
    width: 15%;
    background-color: #000000;
}

